@model LibraryApp.Models.RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}
<div class="text-center">
<br />
<h1>@ViewData["Title"]</h1>
<br />
<p>Kayıt olmak için aşağıdaki bilgileri eksiksiz doldurunuz.</p>
<div class="row">
    <div class="col-md-5">
        <hr />
        <form asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label">İsim</label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label">Soyisim</label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Eposta" class="control-label">E-posta</label>
                <input asp-for="Eposta" class="form-control" />
                <span asp-validation-for="Eposta" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label">Kullanıcı Adı</label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Sifre" class="control-label">Şifre</label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div>
                <label><p class="text-danger">@ViewBag.isUserCreatedMessageN</p><p class="text-success">@ViewBag.isUserCreatedMessageP</p></label>
            </div>
            <div class="form-group btn-group-sm">
                <input type="submit" value="Kayıt Ol" class="btn btn-success" /> <a asp-controller="Home" asp-action="HomePage" class="btn btn-primary">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
</div>