@{
    ViewData["Title"] = "Hakkında";
}
<div class="text-center">
<br />
<h1>@ViewData["Title"]</h1>
<br />
<hr />
<h4>Merhaba!</h4>
<br />
<p>Bu proje kendimi test etmek için geliştirdiğim bir .NET8 MVC projesidir.</p>
<p>Projenin genel amacı bir sanal kütüphaneyi temsil etmek, kullanıcı, ürün ve sipariş girdilerini veritabanından kontrol etmek ve yönetmektir.</p>
<p>Bunlarla birlikte şifreleme, yetkilendirme, kullanıcı doğrulama, model birleştirme gibi uygulamalar yapılmıştır.</p>
<br />
<p>Mert Denizci</p>
</div>