@{
    ViewData["Title"] = "Bağlantılar";
}
<div class="text-center">
<br />
<h1>@ViewData["Title"]</h1>
<br />
<hr />
<h4>Sunucu Durumu: </h4> <p>@ViewBag.connectionMessage</p>
<br />
<h4>Veritabanı Durumu: </h4> <p>@ViewBag.connectionMessage</p>
<hr />
</div>