@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<div class="text-center">
<br />
<h1>@ViewData["Title"]</h1>
<p>(Temsili)</p>
<br />
<hr />
<h4>Giriş</h4>
<p>XYZ Sanal Kütüphane ("Biz", "bizim", "biz") olarak kullanıcılarımızın ("Kullanıcı", "Kullanıcılar", "siz") gizliliğine büyük önem veriyoruz. Bu Gizlilik Politikası, XYZ Sanal Kütüphane uygulaması ("Uygulama") aracılığıyla topladığımız, kullandığımız, açıkladığımız ve koruduğumuz kişisel bilgilerinizle ilgili politika ve uygulamaları açıklamaktadır.</p>
<br />
<h4>Toplanan Bilgiler</h4>
<p>Uygulamamızı kullanırken, sizden aşağıdaki türde kişisel bilgileri toplayabiliriz:</p>
<p>- İsim, e-posta adresi, telefon numarası gibi iletişim bilgileri.</p>
<p>- Kullanıcı adı, şifre gibi hesap bilgileri.</p>
<p>- IP adresi, tarayıcı türü, işletim sistemi gibi teknik bilgiler.</p>
<p>- Uygulamayı kullanımınızla ilgili bilgiler, ödünç alınan kitaplar, okuma tercihleri gibi.</p>
<br />
<h4>Bilgilerin Kullanımı</h4>
<p>- Topladığımız kişisel bilgileri aşağıdaki amaçlar için kullanabiliriz:</p>
<p>- Uygulamanın işlevselliğini sağlamak ve iyileştirmek.</p>
<p>- Kullanıcı destek hizmetleri sunmak.</p>
<p>- Uygulama güncellemeleri, güvenlik uyarıları ve destek mesajları göndermek.</p>
<p>- Hizmetlerimizi kişiselleştirmek ve kullanıcı deneyimini iyileştirmek.</p>
<p>- Yasal yükümlülüklerimizi yerine getirmek ve haklarımızı korumak.</p>
<br />
<h4>Bilgilerin Paylaşımı</h4>
<p>Kişisel bilgileriniz, yasal olarak gerekli olduğunda veya hizmetlerimizin sağlanması, yasal hakların korunması gibi geçerli iş amaçları için aşağıdaki durumlarda paylaşılabilir:</p>
<p>Hizmet sağlayıcılarıyla, uygulamamızın işlevselliğini desteklemek için.</p>
<p>Yasal talepler karşısında, hukuki işlemlerin gerektirdiği durumlarda.</p>
<p>Şirket birleşme, satış, yeniden yapılanma, varlık devri gibi işlemlerde.</p>
<br />
<h4>Güvenlik</h4>
<p>Kullanıcıların kişisel bilgilerinin güvenliğini sağlamak için makul tedbirler alıyoruz. Ancak, internet üzerindeki hiçbir veri iletiminin veya elektronik depolamanın %100 güvenli olduğu garantisi verilemez.</p>
<br />
<h4>Çerezler</h4>
<p>Uygulamamız, hizmetlerimizi iyileştirmek ve kullanıcı deneyimini kişiselleştirmek için çerezler ve benzeri teknolojiler kullanabilir.</p>
<br />
<h4>Gizlilik Politikasında Değişiklikler</h4>
<p>Gizlilik politikamızı zaman zaman güncelleyebiliriz. Değişiklikleri uygulamamızın ilgili bölümlerinde ve/veya kullanıcılarımıza bildirim yoluyla duyuracağız.</p>
<br />
<h4>İletişim</h4>
<p>Gizlilik politikamız hakkında sorularınız veya endişeleriniz varsa, lütfen bizimle [e-posta adresiniz] adresinden iletişime geçin.</p>
<br />
<h5>Tarih: [Gizlilik politikanızın yürürlüğe gireceği tarih]</h5>
<hr />
</div>