@model LibraryApp.Models.RentsModel

@{
    ViewData["Title"] = "Kiralananlar";
    Layout = "_Layout";
}
<div class="text-center">
<br />
<h1>Kiralananlar</h1>
<br />
<h4>Kiralama Girdisi Oluştur</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KitapID" class="control-label">Kitap No</label>
                <input asp-for="KitapID" class="form-control" />
                <span asp-validation-for="KitapID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="KullaniciID" class="control-label">Kullanıcı No</label>
                <input asp-for="KullaniciID" class="form-control" />
                <span asp-validation-for="KullaniciID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AlisTarihi" class="control-label">Kiralama Tarihi</label>
                <input asp-for="AlisTarihi" class="form-control" />
                <span asp-validation-for="AlisTarihi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="IadeTarihi" class="control-label">Kira Bitiş Tarihi</label>
                <input asp-for="IadeTarihi" class="form-control" />
                <span asp-validation-for="IadeTarihi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="GeriGetirmeTarihi" class="control-label">İade Edilen Tarih</label>
                <input asp-for="GeriGetirmeTarihi" class="form-control" />
                <span asp-validation-for="GeriGetirmeTarihi" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group btn-group-sm">
                <input type="submit" value="Kaydı Tamamla" class="btn btn-success" /> <a asp-action="All" class="btn btn-primary">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
